<header class="header">
  <div class="container header-container">
    <nav class="header-navigation">

      <a class="header-logo" href="./index.html">Web<span class="header-logo-color">Studio</span></a>

      <ul class="header-menu-list">
        <li class="header-menu-item"><a class="header-menu-link current" href="./index.html">Studio</a></li>
        <li class="header-menu-item"><a class="header-menu-link" href="">Portfolio</a></li>
        <li class="header-menu-item"><a class="header-menu-link" href="">Contacts</a></li>
      </ul>

    </nav>

    <address class="header-soc-net">

      <ul class="header-soc-list">
        <li class="header-soc-item"><a class="header-soc-link" href="mailto:info@devstudio.com">info@devstudio.com</a>
        </li>

        <li class="header-soc-item"><a class="header-soc-link" href="tel:+110001111111"> +11 (000)
            111-11-11</a></li>
      </ul>

    </address>
    <button class="js-open-menu">
      <svg class="header-mob-menu" width="24px" height="24px">
        <use href="./images/icons.svg#icon-header-mob-menu"></use>
      </svg>
    </button>
    <div class="mob-menu js-menu-container">
      <div class="mob-menu-wrap">
        <button type="button" class="modal-close-btn menu-close-btn js-close-menu">
          <svg class="modal-btn-icon" width="8" height="8">
            <use href="./images/icons.svg#icon-modal-close"></use>
          </svg>
        </button>
        <ul class="mob-menu-list">
          <li class="mob-menu-item"><a class="mob-menu-link current header-link" href="./index.html">Studio</a></li>
          <li class="mob-menu-item"><a class="mob-menu-link header-link" href="">Portfolio</a></li>
          <li class="mob-menu-item"><a class="mob-menu-link header-link" href="">Contacts</a></li>
        </ul>
      </div>
      <ul class="mob-soc-list">
        <li class="mob-soc-item"><a class="mob-soc-link" href="tel:+110001111111"> +11 (000)
            111-11-11</a></li>

        <li class="mob-soc-item"><a class="mob-soc-link" href="mailto:info@devstudio.com">info@devstudio.com</a></li>
      </ul>
      <ul class="mob-menu-svg-list">
        <li class="mob-menu-svg-item"><a class="mob-menu-icon-link" href="https://www.instagram.com/" target="_blank">
            <svg class="mob-menu-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a></li>
        <li class="mob-menu-svg-item"><a class="mob-menu-icon-link" href="https://twitter.com/" target="_blank">
            <svg class="mob-menu-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-twitter"></use>
            </svg>
          </a></li>
        <li class="mob-menu-svg-item"><a class="mob-menu-icon-link" href="https://www.facebook.com/" target="_blank">
            <svg class="mob-menu-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a></li>
        <li class="mob-menu-svg-item"><a class="mob-menu-icon-link" href="https://www.linkedin.com/" target="_blank">
            <svg class="mob-menu-icon" width="24" height="24">
              <use href="./images/icons.svg#icon-linkedin"></use>
            </svg>
          </a></li>
      </ul>
    </div>
  </div>
</header>